.login {
  background-color: black;
  display: grid;
  place-items: center;
  height: 100vh;
}
img {
  height: 50vh;
}
.login > a {
  padding: 10px 50px;
  color: white;
  background-color: rgb(89, 243, 102);
  text-decoration: none;
  border-radius: 50px;
  font-weight: 800;
}
